* {
  color: hsl(0, 0%, 9%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* font-family: Poppins !important; */
  width: 100%;
}

a {
  text-decoration: none !important;
}

@keyframes loaderSwipeAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
